/* pages/styles/globals.css */

:root {
  --primary-color: #6366f1;
  --secondary-color: #1f2937;
  --background-color: #111827;
  --text-color: #ffffff;
  --header-height: 80px;
  --border-radius: 8px;
  --transition-duration: 0.3s;
  --button-hover-bg: #4f46e5;
  --button-secondary-bg: #1f2937;
  --button-secondary-hover-bg: #3f4957;
}

/* styles/globals.css */
html {
  scroll-behavior: smooth; /* Smooth scrolling */
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
