.container {
    padding: 0 2rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure the navbar takes the full width */
  }
  
  .navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-right: 20px;
  }
  
  .navItem:last-child {
    margin-right: 0;
  }
  
  .navLink {
    margin-right: 1rem;
    text-decoration: none;
    color: #0070f3;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  
  .authButtons {
    margin-left: auto; /* Pushes the auth buttons to the right */
    display: flex;
  }
  
  .loginButton,
  .signupButton {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #0070f3;
    color: white;
    cursor: pointer;
  }
  
  .main {
    padding: 4rem 0;
    text-align: center;
  }
  
  .title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  
  .imagePlaceholder {
    margin: 2rem 0;
  }
  
  .contactSection {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contactButton {
    padding: 0.5rem 2rem;
    border: none;
    background-color: #0070f3;
    color: white;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  